.wrap{
    margin: 0;
    background: #e9eaed;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}
@font-face{
	font-family:"VNI-Coronet-local";
	src:url("../fonts/vni.common.VCORONET.ttf");
}
.noidung,.tintuc{
    background: #FFF;
    word-wrap: break-word;
    border: 1px solid #eeeeee;
}
.noidung{
    font-size: 15px;
    padding: 15px;
}
.tintuc{
    font-size: 12px;
    padding: 0 16px;
}
.menu{
    background-color: white;
}
.navbar-brand > img{
    margin-top: -12px;
    
}
.site-index{
    background-color: #eeeeee;
}

.footer{
    height: 40px;
    margin: 0px;
    padding: 10px 0;
    background-color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #00AEE8;
    color: white;
}
.navbar-default .navbar-nav > li > a{
    color: #f05;
    font-size: 12px;
}
#chuyentoike{
    color: #008e00;
}
.anhminhhoa{
    width: 100px;
    height: 80px;
}
.tincuthe{
   padding: 8px 0;
}
.tincuthe-dau{
    padding: 48px 0 36px 0;
}
.tieude-tin{
    color: #333;
    font-size: 22px;
    font-weight: bold;
    display: block;
    line-height: 1.2;
    max-height: 2.4em;
    margin-bottom: 2px;
    overflow: hidden;
    cursor: pointer;
    font-family: VNI-Coronet-local;
}
.thoigian-tin{
    color: #767676;
    font-size: 11px;
}
.tieude-noidung{
    text-align: center;
    line-height: normal;
    word-wrap: break-word;
   font-family: VNI-Coronet-local;
}
